<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<div th:fragment="nav">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" style="color: #00aced">
                    <i class="fab fa-twitter"></i> Tech Talent Twitter</a>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
                        <li class="nav-item"><a class="nav-link" href="/tweets">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tweets/new">New Tweet</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users"> Tweeters</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user"> My Profile </a></li>
                        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="../logout">Logout</a></li>
                        <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="../login">Login</a></li>
                    </ul>
                </div>
    </nav>
</div>
</div>

</div>
</body>
</html>