<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Feed</title>
    <link th:replace="fragments/headlink :: styling">
</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar :: nav"></div>
    <h2>Tweets</h2>
    <div th:if="${#lists.isEmpty(tweetList)}">
        <h3>No Recent Tweets</h3>
    </div>
    <ul class="list-group">
        <div th:each="tweet:${tweetList}">
            <li class="list-group-item">
            <h5>@<span th:text="${tweet.user.username}"></span>
                <small><span th:text="${#dates.format(tweet.createdAt, 'M/d/yy')}"></span></small></h5>
            <p th:utext="${tweet.message}"></p>
            </li>
        </div>
    </ul>
</div>
<script th:replace="fragments/headlink :: bootstrapScript"></script>
</body>
</html>