<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Log in</title>
        <link th:replace="fragments/headlink :: styling">
    </head>
    <body>
        <div class="container-fluid">
            <div th:replace="fragments/navbar :: nav"></div>
            <h2>Welcome!</h2>
            <form method="post" th:action="@{/login}"><br/>
                <input class="form-control" id="username" name="username" th:placeholder="Username" type="text"/> <br/>
                <input class="form-control" id="password" name="password" th:placeholder="Password" type="password"/> <br/>
                <div align="center" th:if="${param.error}">
                    <h4 style="color: red">Login unsuccessful.</h4>
                </div>
                <button class="btn btn-md btn-primary btn-block" name="Submit" type="Submit" value="Login">Log in</button>
            </form>

            <form method="get" th:action="@{/signup}"><br/>
                <div>
                    <h2>Or if you don't have an account, please register below!</h2>
                    <br/>
                    <button class="btn btn-md btn-info btn-block" name="signup" type="signup" value="signup">Sign-up</button>
                </div>
            </form>

        </div>
        <script th:replace="fragments/styleScripts :: bootstrapScript"></script>
    </body>
</html>

