<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <title>Registration</title>
    <link th:replace="fragments/headlink :: styling">
</head>


<body>
<div class="container">
    <div th:replace="fragments/navbar :: nav">

    </div>
    <h2>Sign up</h2>
    <form th:action="@{/signup}" th:object="${user}" method="post" autocomplete="off" id = signUpForm>
        <div class="form-group">
            <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                   class="validation-message"></label>
            <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
            <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
            <input type="text" th:field="*{username}" placeholder="Username" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{email}" placeholder="Email" class="form-control"/>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
        </div>
        <div class="form-group">
            <button class="btn btn-md btn-success btn-block" name="Submit" value="Submit" type="Submit"
                    th:text="Submit"></button>
        </div>
    </form>
    <div th:if="${success}">
        <!--       I know this isn't best practise but I have no idea how to do this otherwise      -->
        <script>document.getElementById("signUpForm").style.visibility = "hidden";</script>
        <form method="get" th:action="@{/login}"><br/>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h3><span class="text-success" th:utext="${success}"></span></h3>
                <br/>
                <button class="btn btn-md btn-success btn-block" name="backToLogin" type="backToLogin" value="backToLogin">Login</button>
            </div>
        </form>
    </div>
</div>
<script th:replace="fragments/styleScripts :: bootstrapScript"></script>
</body>
</html>